<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/Ajax_1.0.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>wwwwWelcome to <%= title %></p>

    <p>服务端3000端口初始页面</p>

  </body>
</html>
